.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  .main-label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
