.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.red_text {
  color: red;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .input-label {
    font-size: 12px;
    font-weight: 700;
  }

  .custom-input {
    border: 1px solid;
  }
}

.code_background {
  height: 68vh;
  overflow: auto;
  padding: 0 16px;
  border: 1px solid rgba(140, 140, 140, 0.35);
  background-color: #94c394;
}