.button_holder {
  .button_wrapper {
    position: relative;
    margin: 20px;
    cursor: pointer;
  }

  @media (max-width: 479px) {
    .button_wrapper {
      width: 100%;
    }
  }

  @media (min-width: 480px) and (max-width: 834px) {
    .button_wrapper {
      width: 350px;
    }
  }

  @media (min-width: 835px) {
    .button_wrapper {
      width: 500px;
    }
  }

  .button_wrapper:hover {
    filter: brightness(1.5) saturate(150%);
  }

  .str_button {
    box-sizing: border-box;
    height: calc(100% - 5px);
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    padding-bottom: 50px;
  }

  .str_button:active {
    top: 5px;
  }

  .button_shadow {
    height: calc(100% - 5px);
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
  }

  .str_button_text {
    position: absolute;
    width: 300px;
    color: white;
    font-size: 20px;
    font-family: "Roboto Mono", sans-serif;
    text-align: center;
  }
}
