.solution-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}
.bg-pink {
  background-color: #ff859f;
}
.bg-green {
  background-color: #53bd8b;
}
.bg-blue {
  background-color: #70b1e6;
}
.bg-yellow {
  background-color: #ffd700;
}
