.strength-types-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.add-icon-container {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.check-all-container {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  .check-all {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .check-all-label {
      font-size: 12px;
    }
  }
}
.list-collapse-item {
  flex: 1;
  border: none;
  background-color: white;
  .ant-collapse-header {
    font-weight: 700 !important;
  }

  .ant-collapse-expand-icon {
    display: none !important;
  }
}
.ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
  border-radius: 10px !important;
}
.ant-collapse-header {
  padding: 5px 15px !important;
}
.ant-list-item {
  padding: 12px 10px 12px 0 !important;
}
